<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis sunt autem cum nihil quisquam assumenda
            amet exercitationem eaque, necessitatibus laboriosam fuga perferendis consequuntur nisi eos. Nobis amet eos
            ut aliquam repudiandae minima tempora in recusandae, nemo, laudantium quos quae iure!</p>
    </div>
</div>