<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Log In</h3>
            </div>
            <img src="/img/logo.png" class="rounded-circle mx-auto d-block m-4 logo" alt="logo">
            <div class="card-body">
                <form action="/users/singin" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Correo" name="email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Clave" name="password">
                    </div>
                    <div class="form-group">
                        <Button class="btn btn-primary col-12">Ingresar</Button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>